<div class='list-ctn'>
    <div class='sublist'>Offline</div>
    {{#if offline_holidays.length}}
    <ul>
    {{#each offline_holidays}}
        <li class='label'>{{name}}</li>
        <div class='del-btn' data-id='{{id}}'></div>
    {{/each}}
    </ul>
    {{else}}
    <div class='empty-list'>No holiday is currently stored offline.</div>
    {{/if}}
</div>