<div class='sublist'>Online</div>
{{#if online_holidays.length}}
<ul>
{{#each online_holidays}}
    <li class='label'>{{name}}</li>
    <div class='download-btn' data-id='{{id}}'></div>
{{/each}}
</ul>
{{else}}
<div class='empty-list'>No holiday available online - please create one.</div>
{{/if}}