{% extends "content_base.html" %}

{% load messages %}

{% block main-title %} Homepage {% endblock %}

{% block main-head %}

{% endblock %}

{% block content %}
<h1>Holidays</h1>
{% render_messages messages %}
<div class='tiles-wrapper'>
    <div class='tiles-ctn'>
        <div id='holiday-list'>
            <ul>
            {% for holiday in holiday_list %}
                <li>
                    <div class='holiday-tile'>
                        <a href={% url holiday_home holiday.pk %}>
                            {{ holiday.name }}
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id='add-holiday-tile'>
            <a href={% url add_holiday %}>Add Holiday</a>
        </div>
    </div>
</div>
{% endblock %}

{% block main-meta %}
{% endblock %}
