{% extends "content_base.html" %}

{% load messages %}

{% block main-title %} Homepage {% endblock %}

{% block main-head %}

{% endblock %}

{% block content %}
<div class='tiles-wrapper'>
<div class='tiles-ctn'>

<div id='holiday-header-tile'>
<h1>Holidays</h1>
<a href={% url add_holiday %}><img class='add-icon' alt="Add Holiday"></a>
</div>

{% render_messages messages %}

<div id='holiday-list'>
<dl>
{% for holiday in holiday_list %}
    <dd>
        <div class='holiday-tile'>
            <h2>
            <a href={% url holiday_home holiday.pk %}>
                <img class="select-icon" alt="Click to view Holiday">
                {{ holiday.name }}
            </a>
            </h2>
        </div>
    </dd>
{% endfor %}
</dl>
</div>
</div>
</div>
{% endblock %}

{% block main-meta %}
{% endblock %}
