{% extends "content_base.html" %}

{% block main-title %} Mobile Website {% endblock %}

{% block main-head %}
<link rel="stylesheet" media="all" type="text/css" href="/static/css/Mobile.css" />
{% endblock %}

{% block content %}
<div id='main-ctn'>
    <!-- select holiday view

    <div id='header-ctn'>
        <div id='back-btn' class='hidden'></div>
        <div id='title'>Select Holiday</div>
        <div id='settings-btn'></div> 
    </div>
    <div id='content-ctn'>
        <div class='list-ctn'>
            <div class='sublist'>Offline</div>
            <ul>
                <li>
                    <div class='label'>India Jul 2013</div>
                    <div class='del-btn'></div>
                </li>
                <li>
                    <div class='label'>Marokko Apr 2012</div>
                    <div class='del-btn'></div>
                </li>
            </ul>
            <div class='sublist'>Online</div>
            <ul>
                <li>
                    <div class='label'>Sailing Sep 2010</div>
                    <div class='download-btn'></div>
                </li>
                <li>
                    <div class='label'>Trekking May 2008</div>
                    <div class='download-btn'></div>
                </li>
            </ul>
        </div>
    </div>
    -->

    <div id='header-ctn'>
        <div id='back-btn'></div>
        <div id='title'>India July 2012</div>
        <div id='settings-btn'></div> 
    </div>
    <div id='content-ctn'>
        <div class='tiles-ctn'>
            <div id='route-tile'>Route</div>
            <div id='accomm-tile'>Accommodations</div>
            <div id='places-tile'>Places</div>
            <div id='schedule-tile'>Schedule</div>
        </div>
    </div>

</div>
{% endblock %}

{% block main-meta %}
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
{% endblock %}
