{% extends "content_base.html" %}

{% load messages %}

{% block main-title %} Add Route {% endblock %}

{% block main-head %}

{% endblock %}

{% block content %}

{% render_messages messages %}

{% if item_id == None %}
<form action="{% url route holiday_id %}" method="post">
{% else %}
<form action="{% url route holiday_id item_id %}" method="post">
{% endif %}
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}

{% block main-meta %}
{% endblock %}
