body {
  background: #000;
  color: #fff;
  font-family: Verdana, Sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}
#header-ctn {
  margin-left: 5px;
  margin-right: 5px;
}
#header-ctn #back-btn {
  width: 42px;
  height: 42px;
  margin: 5px;
  background-size: 42px 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/back.png");
  float: left;
}
#header-ctn #settings-btn {
  width: 42px;
  height: 42px;
  margin: 5px;
  background-size: 42px 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/settings.png");
  float: right;
}
#header-ctn #title {
  float: left;
  font-size: 26px;
  margin-left: 10px;
  margin-top: 10px;
}
#content-ctn {
  position: absolute;
  top: 60px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  min-height: 10px;
  width: 100%;
  overflow: auto;
}
.list-ctn {
  margin: 10px;
  margin-bottom: 25px;
}
.list-ctn .sublist {
  font-size: 16px;
  clear: both;
}
.list-ctn ul {
  list-style-type: none;
  margin: 0px;
  margin-top: 10px;
  padding-left: 10px;
}
.list-ctn ul li {
  clear: right;
  overflow: auto;
}
.list-ctn ul li:last-child {
  margin-bottom: 25px;
}
.list-ctn ul li .label {
  float: left;
  margin-top: 30px;
  font-size: 24px;
}
.list-ctn ul li .del-btn {
  width: 42px;
  height: 42px;
  margin: 5px;
  background-size: 42px 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/delete.png");
  float: right;
}
.list-ctn ul li .download-btn {
  width: 42px;
  height: 42px;
  margin: 5px;
  background-size: 42px 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/download.png");
  float: right;
}
.list-ctn ul li .map-btn {
  width: 42px;
  height: 42px;
  margin: 5px;
  background-size: 42px 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/map.png");
  float: right;
  clear: right;
}
.list-ctn ul li .navigate-btn {
  width: 42px;
  height: 42px;
  margin: 5px;
  background-size: 42px 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/navigate.png");
  float: right;
}
.list-ctn ul li .info-ctn {
  width: 42px;
  height: 42px;
  margin: 5px;
  float: right;
}
.list-ctn ul li .info-ctn p {
  margin: 0px;
  font-size: 14px;
}
.tiles-ctn {
  margin: auto;
  width: 444px;
}
.tiles-ctn #route-tile {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #f00;
  float: left;
}
.tiles-ctn #accomm-tile {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #f00;
  float: left;
  clear: right;
}
.tiles-ctn #places-tile {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #f00;
  float: left;
}
.tiles-ctn #schedule-tile {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #f00;
  float: left;
}
#bottom-ctn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
}
#bottom-ctn #left-info-ctn {
  float: left;
  font-size: 14px;
  margin-left: 10px;
}
#bottom-ctn #right-info-ctn {
  float: right;
  font-size: 14px;
  margin-right: 10px;
}
#bottom-ctn #right-info-ctn p {
  margin: 0px;
}
#arrow-ctn {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 30px;
  background-image: url("/static/images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
