body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Cambria, Georgia, serif;
  background-color: #3a2100;
}
.ez-wm {
  width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #d6d0b8;
}
#main-header-wrapper {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom-style: ridge;
  border-bottom-width: 5px;
  border-bottom-color: #3a2100;
}
#main-header-wrapper h1 {
  width: 80%;
  text-align: center;
  color: #4e1c00;
  font-size: 35px;
  float: left;
}
#logo-img {
  width: 100px;
  height: 100px;
  float: left;
  content: url("/static/images/logo.png");
}
#login-wrapper {
  float: right;
  margin-top: 15px;
}
#login-wrapper a {
  text-decoration: none;
  color: #000;
}
#holiday-header-tile {
  padding-top: 40px;
  padding-bottom: 20px;
}
#holiday-header-tile h1 {
  font-size: 30px;
  color: #3a2100;
  padding-top: 20px;
  display: inline;
}
#holiday-header-tile a {
  display: inline;
}
.add-icon {
  content: url("/static/images/add.png");
}
.holiday-tile .select-icon {
  content: url("/static/images/arrow_link.ico");
  width: 25px;
  height: 25px;
}
.holiday-tile a {
  text-decoration: none;
  color: #000;
}
#holiday-obj .holiday-tile a {
  font-size: 20px;
}
.header-item-tile {
  margin-top: 20px;
}
.header-item-tile h2 {
  font-size: 23px;
  display: inline;
}
.header-item-tile a {
  display: inline;
}
button a {
  text-decoration: none;
  color: #000;
}

