@import 'definitions'

.detail-label-ctn
    margin-left 10px
    margin-right 10px
    font-size mediumFontSize
    text-transform uppercase


.detail-info-ctn
    margin 10px
    margin-left 20px
    margin-bottom 35px
    font-size mediumFontSize
    text-align left
    color #dddddd
    userselect text
