.list-ctn
    margin 10px
    margin-bottom 25px

    .sublist
        font-size 16px
        clear both

    ul 
        list-style-type none
        margin 0px
        margin-top 10px
        padding-left 10px

        li
            clear right
            overflow auto
            
            &:last-child
                margin-bottom 25px

            .label
                float left 
                margin-top 30px
                font-size 24px

            .del-btn
                smallbutton 'delete'
                float right

            .download-btn
                smallbutton 'download'
                float right

            .map-btn
                smallbutton 'map'
                float right
                clear right

            .navigate-btn
                smallbutton 'navigate'
                float right

            .info-ctn
                width 42px
                height 42px
                margin 5px
                float right

                p
                    margin 0px
                    font-size 14px
