.list-ctn
    margin 10px
    margin-bottom 25px

    .sublist
        font-size 16px
        clear both

    ul 
        list-style-type none
        margin 0px
        margin-top 10px
        padding-left 10px

        li
            clear right
            overflow auto
            
            &:last-child
                margin-bottom 25px

            .label
                float left 
                margin-top 8px
                font-size 24px

            .del-btn
                smallbutton 'delete'
                float right

            .download-btn
                smallbutton 'download'
                float right