@import 'definitions'

.list-ctn
    margin 10px
    margin-bottom 25px

    .sublist
        font-size mediumFontSize
        clear both

    .empty-list
        font-size smallFontSize
        margin-left 10px
        margin-top 10px
        margin-bottom 25px

    ul 
        list-style-type none
        margin 0px
        margin-top 10px
        padding-left 10px

        li
            clear right
            overflow auto
            
            &:last-child
                margin-bottom 25px

            .label
                float left 
                font-size largeFontSize
                margin-top: 10px

            .info-ctn
                width 120px
                height 42px
                margin 5px
                text-align right
                float right

                p
                    margin 0px
                    font-size smallFontSize

