@import 'definitions'

#bottom-ctn
    position fixed
    bottom 0px
    
    #left-info-ctn
        float left
        font-size 14px
        margin-left 10px

    #right-info-ctn
        float right
        font-size 14px
        margin-right 10px

        p
            margin 0px

#arrow-ctn
    margin auto
    margin-top 30px
    background-image url('/static/images/arrow.png')
    background-repeat no-repeat
    background-position center

#waiting-msg
    position absolute
    top 0px
    bottom 0px
    left 0px
    right 0px
    z-index 3
    background-color black
    font-size largeFontSize
    text-align center
    line-height 100%

#map
    width 100%
    height 100%