tile()
    width 200px
    height 200px
    margin 10px
    border 1px solid red
    float left

.tiles-ctn
    margin auto
    width (400+40+4)px

    #route-tile
        tile()

    #accomm-tile
        tile()
        clear right

    #places-tile
        tile()

    #schedule-tile
        tile()
